<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ikea.warehouseapp.data.mybatis.ArticleCreateMapper">
    <insert id="addNewInventory">
        insert into article (id, article_id, name, stock) values
            (nextval('article_id_seq'), #{article.articleId}, #{article.name}, #{article.stock});
    </insert>
</mapper>