<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ikea.warehouseapp.data.mybatis.ArticleReadMapper">
    <sql id="selectArticlesByIdIn">
        select A.article_id
        from article A
        where A.article_id in
            <foreach collection="articleIds" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
    </sql>
    <select id="findArticlesByIdIn" resultType="java.lang.String">
        <include refid="selectArticlesByIdIn"/>
    </select>
    <select id="findArticlesByIdNotIn" resultType="java.lang.String">
        select unnest(array[
            <foreach collection="articleIds" item="id" separator=",">
                #{id}
            </foreach>
        ])
        except
        <include refid="selectArticlesByIdIn"/>
    </select>
</mapper>