<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ikea.warehouseapp.data.mybatis.ProductUpdateMapper">
    <sql id="tableJoinCondition">
        from product P
        left join product_articles PA on P.id = PA.product_id
        left join article A on A.article_id = PA.article_id
    </sql>
    <update id="updateProductAvailableStock">
        UPDATE article A
        SET stock = stock - amount_of
        from (
            select
                A.article_id,
                PA.amount_of,
                min(A.stock / PA.amount_of) quantity
            <include refid="tableJoinCondition"/>
            where P.id = #{id}
            group by
                A.article_id, PA.amount_of
        ) PQ
        WHERE
            A.article_id = PQ.article_id and
            PQ.quantity > 0
    </update>
</mapper>