<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ikea.warehouseapp.data.mybatis.ProductCreateMapper">
    <insert id="addNewProduct">
        insert into product (name, price, id) values (#{newProductDto.name}, #{newProductDto.price}, #{newProductId});
        insert into product_articles (product_id, article_id, amount_of) values
            <foreach collection="newProductDto.articles" item="article" separator=",">
                (#{newProductId}, #{article.articleId}, #{article.amountOf})
            </foreach>
    </insert>
</mapper>